@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body {
  background-image: url(background_qn.jpg);
}
i {
  font-size: 20px;
}
#sound {
  background-color: white;
  border-radius: 10px;
  border: none;
  margin: 5px;
  padding: 5px 13px;
}
h1 {
  color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 250;
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1.0em;
  margin:0px;
  text-align: center;
  padding: 20px 20px;
}
#timer {
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #F5F5F5;
  text-decoration: none;
  font-weight: 250;
  letter-spacing: -2px;
  line-height: 1;
  margin: 0px;
}
p {
  text-align: center;
  font-size: 50px;
  color: white;
}
#choice {
  text-align: center;
}
.button {
  background-color: white;
  text-align: center;
  width: 250px;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.button2 {
  background-color: black;
  color: white;
}
.button3 {
  background-color: white;
}
.button4 {
  background-color: black;
  color: white;
}
